<%inherit file="base.html"/>
<%block name="title">Index</%block>
<%block name="main">
<div id="container">
 <!--    <div class="row">
         <h2 class="text-center">Index</h2>
    </div> -->
        %if not current_user:
    <div class="row" style="background-color:#666;">
        <div class="col-md-12 text-right">
        <a href="/login" class="btn btn-primary">login or signup</a>
        </div>
    </div>
        %else:
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-right"  style="background-color:#CFC;">
        welcome ${current_user}!
        %if current_user == 'spradmn':
            <a href="/admin"  class="btn btn-primary">admin manage</a>
        %endif
        <a href="/logout" class="btn btn-primary">logout</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    %if hint_info:
    <div class="row">
    <div class="alert alert-info">
      <a class="close" data-dismiss="alert">×</a>
      <strong>Info!</strong>${hint_info}
    </div>
    </div>
    %endif
    <div class="row" style="margin-top:10px;">
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <ul class="nav nav-pills  nav-stacked">
            <li> <a href="/" >首页</a></li>
            %for url in urls:
                <li><a href="/upload/${url.url}"  class="${'disabled' if not url.status else ''}">${url.name}</a></li>
            %endfor
        </ul>
        </div>
        <div class="col-md-7">
        <h2>上传文件注意事项</h2>
        <p>1.电子表格中文件不得出现合并的单元格；</p>
        <p>2.严格按照文件规定的列顺序，不得出现空列；</p>
        <p>3.单元格中的数据类型和数据值应严格依照文件规定填写；</p>
        <p>4.文件中只存放数据，不得使用列名；</p>
        <p>5.数据列数既不能多，也不能少。</p>
        <p></p>
        <p>不遵循以上规则，上传不能成功。</p>
        </div>
         <div class="col-md-1"></div>
   </div>
     %endif
</div>
</%block>
