<%inherit file="base.html"/>
<%block name="title">Index</%block>
<%block name="main">
<div id="container">
 <!--    <div class="row">
         <h2 class="text-center">Index</h2>
    </div> -->
        %if not current_user:
    <div class="row" style="background-color:#666;">
        <div class="col-md-12 text-right">
        <a href="/login" class="btn btn-primary">登录或注册</a>
        </div>
    </div>
        %else:
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-right"  style="background-color:#CFC;">
        当前登录用户： ${current_user}
        %if current_user == 'spradmn':
            <a href="/admin"  class="btn btn-primary">admin manage</a>
        %endif
        <a href="/logout" class="btn btn-primary">退出</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    %if hint_info:
    <div class="row">
    <div class="alert alert-info">
      <a class="close" data-dismiss="alert">×</a>
      <strong>Info!</strong>${hint_info}
    </div>
    </div>
    %endif
    <div class="row" style="margin-top:10px;">
        <div class="col-md-1"></div>
        <div class="col-md-3">
        <ul class="nav nav-pills  nav-stacked">
            <li> <a href="/" >首页</a></li>
            %for url in urls:
                <li><a href="/upload/${url.url}"  class="${'disabled' if not url.status else ''}">${url.name}</a></li>
            %endfor
        </ul>
        </div>
        <div class="col-md-7 alert alert-info">
        <h2>上传文件注意事项</h2>
        <br/>
        <p>1.电子表格中文件不得出现合并的单元格；</p>
        <p>2.严格按照文件规定的列顺序，不得出现空列；</p>
        <p>3.单元格中的数据类型和数据值应严格依照文件规定填写；</p>
        <p>4.文件中只存放数据，不得使用列名；</p>
        <p>5.数据列数既不能多，也不能少。</p>
        <p>6.上传失败后，请手工刷新页面后重传，直到上传成功。</p>
        <p>7.受站点速度限制，文件中尽量不要自定义格式，可以减少文件的大小，减少上传时间。或上传前，用“编辑/清除/格式”命令来清除格式。</p>
        <p>8.多次上传，文件会被自动覆盖，只保留最后一个版本数据。</p>
        <p>9.等待弹出窗口，显示“上传成功”，表示数据验证通过，已经完成数据上传。否则，请按提示信息修改数据，直到上传成功。</p>
        <br/>
        <p class="danger">不遵循以上规则，上传不能成功。</p>
        </div>
         <div class="col-md-1"></div>
   </div>
     %endif
</div>
</%block>
